<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

</head>
<body>
    <div id="02e54e9c395b4fc48db55da394091672" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_02e54e9c395b4fc48db55da394091672 = echarts.init(
            document.getElementById('02e54e9c395b4fc48db55da394091672'), 'white', {renderer: 'canvas'});
        var option_02e54e9c395b4fc48db55da394091672 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u6cbb\u6108\u4eba\u6570",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "china",
            "data": [
                {
                    "name": "0",
                    "value": "7025"
                },
                {
                    "name": "1",
                    "value": "9405"
                },
                {
                    "name": "2",
                    "value": "2"
                },
                {
                    "name": "3",
                    "value": "6"
                },
                {
                    "name": "4",
                    "value": "3"
                },
                {
                    "name": "5",
                    "value": "5"
                },
                {
                    "name": "6",
                    "value": "8"
                },
                {
                    "name": "7",
                    "value": "595"
                },
                {
                    "name": "8",
                    "value": "1"
                },
                {
                    "name": "9",
                    "value": "7"
                },
                {
                    "name": "10",
                    "value": "0"
                },
                {
                    "name": "11",
                    "value": "1"
                },
                {
                    "name": "12",
                    "value": "3"
                },
                {
                    "name": "13",
                    "value": "6"
                },
                {
                    "name": "14",
                    "value": "9"
                },
                {
                    "name": "15",
                    "value": "2"
                },
                {
                    "name": "16",
                    "value": "3"
                },
                {
                    "name": "17",
                    "value": "1"
                },
                {
                    "name": "18",
                    "value": "1"
                },
                {
                    "name": "19",
                    "value": "4512"
                },
                {
                    "name": "20",
                    "value": "4"
                },
                {
                    "name": "21",
                    "value": "2"
                },
                {
                    "name": "22",
                    "value": "0"
                },
                {
                    "name": "23",
                    "value": "2"
                },
                {
                    "name": "24",
                    "value": "22"
                },
                {
                    "name": "25",
                    "value": "0"
                },
                {
                    "name": "26",
                    "value": "6"
                },
                {
                    "name": "27",
                    "value": "7"
                },
                {
                    "name": "28",
                    "value": "13"
                },
                {
                    "name": "29",
                    "value": "2"
                },
                {
                    "name": "30",
                    "value": "2"
                },
                {
                    "name": "31",
                    "value": "0"
                },
                {
                    "name": "32",
                    "value": "3"
                },
                {
                    "name": "33",
                    "value": "0"
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                "\u6cbb\u6108\u4eba\u6570"
            ],
            "selected": {
                "\u6cbb\u6108\u4eba\u6570": true
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    }
};
        chart_02e54e9c395b4fc48db55da394091672.setOption(option_02e54e9c395b4fc48db55da394091672);
    </script>
</body>
</html>
