<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

</head>
<body>
    <div id="62c8c29a86fe44ea8d661f2116ea7818" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_62c8c29a86fe44ea8d661f2116ea7818 = echarts.init(
            document.getElementById('62c8c29a86fe44ea8d661f2116ea7818'), 'white', {renderer: 'canvas'});
        var option_62c8c29a86fe44ea8d661f2116ea7818 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u7d2f\u8ba1\u786e\u8bca",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "china",
            "data": [
                {
                    "name": "0",
                    "value": 13742
                },
                {
                    "name": "1",
                    "value": 64265
                },
                {
                    "name": "2",
                    "value": 83
                },
                {
                    "name": "3",
                    "value": 1059
                },
                {
                    "name": "4",
                    "value": 1865
                },
                {
                    "name": "5",
                    "value": 40167
                },
                {
                    "name": "6",
                    "value": 7385
                },
                {
                    "name": "7",
                    "value": 62619
                },
                {
                    "name": "8",
                    "value": 3406
                },
                {
                    "name": "9",
                    "value": 2738
                },
                {
                    "name": "10",
                    "value": 2242
                },
                {
                    "name": "11",
                    "value": 2082
                },
                {
                    "name": "12",
                    "value": 3322
                },
                {
                    "name": "13",
                    "value": 717
                },
                {
                    "name": "14",
                    "value": 3661
                },
                {
                    "name": "15",
                    "value": 2160
                },
                {
                    "name": "16",
                    "value": 2361
                },
                {
                    "name": "17",
                    "value": 3149
                },
                {
                    "name": "18",
                    "value": 1384
                },
                {
                    "name": "19",
                    "value": 63888
                },
                {
                    "name": "20",
                    "value": 1395
                },
                {
                    "name": "21",
                    "value": 679
                },
                {
                    "name": "22",
                    "value": 423
                },
                {
                    "name": "23",
                    "value": 1716
                },
                {
                    "name": "24",
                    "value": 3161
                },
                {
                    "name": "25",
                    "value": 147
                },
                {
                    "name": "26",
                    "value": 282
                },
                {
                    "name": "27",
                    "value": 2000
                },
                {
                    "name": "28",
                    "value": 2975
                },
                {
                    "name": "29",
                    "value": 1647
                },
                {
                    "name": "30",
                    "value": 183
                },
                {
                    "name": "31",
                    "value": 122
                },
                {
                    "name": "32",
                    "value": 1005
                },
                {
                    "name": "33",
                    "value": 1
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                "\u7d2f\u8ba1\u786e\u8bca"
            ],
            "selected": {
                "\u7d2f\u8ba1\u786e\u8bca": true
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    }
};
        chart_62c8c29a86fe44ea8d661f2116ea7818.setOption(option_62c8c29a86fe44ea8d661f2116ea7818);
    </script>
</body>
</html>
